{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    <h1>Liste Sponsors</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdSponsor</th>
                <td>{{ sponsor.idSponsor }}</td>
            </tr>
            <tr>
                <th>NomSponsor</th>
                <td>{{ sponsor.nomSponsor }}</td>
            </tr>
            <tr>
                <th>TelSponsor</th>
                <td>{{ sponsor.telSponsor }}</td>
            </tr>
            <tr>
                <th>EmailSponsor</th>
                <td>{{ sponsor.emailSponsor }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ sponsor.montant }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sponsor_index') }}">retour à la liste des sponsors</a>

    <a href="{{ path('app_sponsor_edit', {'idSponsor': sponsor.idSponsor}) }}">Modifier</a>

    {{ include('sponsor/_delete_form.html.twig') }}
{% endblock %}
