{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}
    <h1>Utilisateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Date_naissance</th>
                <th>Telephone</th>
                <th>Region</th>
                <th>Genre</th>
                <th>Mot_passe</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.dateNaissance ? utilisateur.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ utilisateur.telephone }}</td>
                <td>{{ utilisateur.region }}</td>
                <td>{{ utilisateur.genre }}</td>
                <td>{{ utilisateur.motPasse }}</td>
                <td>{{ utilisateur.type }}</td>
                <td>
                    <a href="{{ path('app_utilisateur_show', {'id': utilisateur.id}) }}">Afficher Detail</a>
                    <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}">modifier</a>
                     <a href="{{ path('app_utilisateur_delete', {'id': utilisateur.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_utilisateur_new') }}">Create new</a>
{% endblock %}
